include LICENSE
include README.md
include pyproject.toml
include requirements.txt

# Include JSON configs
recursive-include tempo/config *.json
recursive-include tempo/tests/logs *.json

# Exclude cache and other unneeded files
global-exclude __pycache__ *.py[cod] .DS_Store